version: '3.8'

services:
  # 1. The ML Application (Point 3 & 4 of Rubric)
  ml-app:
    build:
      context: ./app/python-exporter
      dockerfile: Dockerfile
    container_name: ml-app
    ports:
      - "8000:8000"
    restart: always
    networks:
      - monitor-net

  # 2. Prometheus (Point 5 & 6 of Rubric)
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./prometheus/alert_rules.yml:/etc/prometheus/alert_rules.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - "9090:9090"
    depends_on:
      - ml-app
    networks:
      - monitor-net

  # 3. Alertmanager (Point 5 & 7 of Rubric)
  alertmanager:
    image: prom/alertmanager:latest
    container_name: alertmanager
    volumes:
      - ./alertmanager/config.yml:/etc/alertmanager/alertmanager.yml
    command:
      - '--config.file=/etc/alertmanager/alertmanager.yml'
    ports:
      - "9093:9093"
    networks:
      - monitor-net

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      # Mount the provisioning logic (the .yml files)
      - ./grafana/provisioning:/etc/grafana/provisioning
      # Mount the actual dashboard JSON models
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    networks:
      - monitor-net
    depends_on:
      - prometheus

networks:
  monitor-net:
    driver: bridge